body > header {
  background-color: #4d4557;
  color: white;
}

body>header aside a, body>header aside a:visited, body>header aside a:active, body>header aside a:hover{
color: white;
}

body>header aside a #site_name, body>header aside a:visited #site_name, body>header aside a:active #site_name, body>header aside a:hover #site_name{
  color: white;
}

#usermenu{
  display: none;
}
