body > header {
  background-color: #6869AA;
  color: #6869AA;
}

body>header aside a, body>header aside a:visited, body>header aside a:active, body>header aside a:hover{
color: #6869AA;
}

body>header aside a #site_name, body>header aside a:visited #site_name, body>header aside a:active #site_name, body>header aside a:hover #site_name{
  color: #6869AA;
}

#usermenu{
  display: #6869AA;
}
